
    <%- include('../partials/head', {title: 'Carrito'}) %>
<body>
    <%- include('../partials/header') %>
    <main class="cart-main">
        <div class="cart-div">
            <h1 class="cart-titulo">Shopping Cart</h1>
            <article class="cart-articulo">
                <div class="cart-articulo-div">
                    <img src="/images/productos/<%= product.images %> " alt="">
                    <div class="cart-articulo-div2">
                        <h3><%= product.name %> </h3>
                        <p class="cart-descripcion"><%= product.description %> </p>
                        <p class="cart-precio"> <%= product.price - (product.price * product.discount) / 100 %></p>
                        <h6 class="cart-cantidad"><small>CANTIDAD</small></h6>                    
                        <input class="cart-input" value="1" />   
                        
                        <a class="cart-eliminar">ELIMINAR <i class="fa-regular fa-trash-can"></i></a>
                    </div>
                </div>
            </article>
            <article class="cart-articulo">
                <div class="cart-articulo-div">
                    <img src="/images/productos/collar.nudo.producto.jpeg" alt="">
                    <div class="cart-articulo-div2">
                        <h3> Collar nudo</h3>
                        <p class="cart-descripcion">descripcion hhhhhhhhhhhhhhh hhhhhhhhhhhhh hhhhhhhhhh hhhhhhhhhhhhh hhhhhhhhhhhh hhhhhhhhhhh hhhhhhhh hhhhh</p>
                        <p class="cart-precio"> $23.569</p>
                        <h6 class="cart-cantidad"><small>CANTIDAD</small></h6>                    
                        <input class="cart-input" value="1" />   
                        
                        <a class="cart-eliminar">ELIMINAR <i class="fa-regular fa-trash-can"></i></a>
                    </div>
                </div>
            </article>
        </div>
        <button type="button" class="btn btn-secondary">Finalisar Compra</button>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>