<%- include('../partials/head', {title: 'Crear'}) %> 
<body>
    <%- include('../partials/header') %>
    <main class="main__create">
        <div class="main__caja">
            <form id="form-create" action="/products/create" method="POST" class="main__caja__formulario">
                <div class="col-10 col-md-5 col-lg-5">
                    <label class=" form-label" for="name"></label>
                    <input class=" form-control" placeholder="NOMBRE DEL PRODUCTO" type="text" name="name" id="name">
                    <small class="msg_error"><%= locals.errors && errors.name ? errors.name.msg : null %></small>
                    <small id="errorNombre" class="msg_error"></small>
                </div>
               
                <div class="col-10 col-md-5 col-lg-5">
                    <label class="form-label" ></label>
                    <select class="form-select " name="category" id="category" aria-label="Default select example">
                        <!-- <option value="" selected hidden>SELECCIONE UNA CATEGORIA--</option>
                        <% categories.forEach(categoria => { %>
                            <option value="<%= categoria.id %>" <%= locals.old && categoria.id === +old.categoryId ? 'selected' :null %> ><%= categoria.name %></option>
                        <% }) %>  -->
                        <option value="-1" disabled selected hidden>SELECCIONE UNA CATEGORIA</option>
                        <% for( let i=0; i < categories.length; i++ ) { %>
                            <option value="<%= categories[i].id %>">
                                <%= categories[i].name %>
                            </option>
                            <% } %>
                    </select>
                    <small class="msg_error"><%= locals.errors && errors.category ? errors.category.msg : null %></small>
                    <small id="errorCategory" class="msg_error" ></small>
                </div>
                <div class="col-10 col-md-5 col-lg-5">
                    <label class="form-label" for="price"></label>
                    <input class=" form-control" placeholder="PRECIO $" type="number" name="price" id="price" value="">
                    <small class="msg_error"><%= locals.errors && errors.price ? errors.price.msg : null %></small>
                    <small id="errorPrice" class="msg_error" ></small>
                </div>
                <div class="col-10 col-md-5 col-lg-5">
                    <label class="form-label" for="discount"></label>
                    <input class=" form-control" placeholder="DESCUENTO" type="number" name="discount" id="discount" value="">
                    <small class="msg_error"><%= locals.errors && errors.discount ? errors.discount.msg : null %></small>
                    <small id="errorDiscount" class="msg_error" ></small>
                </div>
                <div class="col-10 col-md-5 col-lg-5">
                    <label class="form-label" for="stock"></label>
                    <input class=" form-control" placeholder="Stock" type="number" name="stock" id="stock" value="">
                    <small class="msg_error"><%= locals.errors && errors.stock ? errors.stock.msg : null %></small>
                    <small id="errorStock" class="msg_error" ></small>
                </div>
                <div class="col-10 col-md-5 col-lg-5">
                    <label class="form-label" for="images">IMAGEN </label>
                    <input class=" form-control" type="file" name="images" id="images">
                    <small class="msg_error"><%= locals.errors && errors.images ? errors.images.msg : null %></small>
                    <small id="errorImages" class="msg_error" ></small>
                </div>
                <div class="col-10 col-md-10 col-lg-10">
                    <!-- <label class="form-label" for="description"></label> -->
                    <textarea name="description" placeholder="DESCRIPCION" id="description" class="form-control form-control-lg py-3" style="resize: none;" rows="5" maxlength="1000"></textarea>
                    <!-- <input class=" form-control"  type="textarea" name="description" id="description" maxlength="1000"> -->
                    <small class="msg_error"><%= locals.errors && errors.description ? errors.description.msg : null %></small>
                    <small id="errorDescripcion" class="msg_error" ></small>
                </div>
                <div class="main__formulario__botones">
                    <input type="submit" class="submit" value="Guardar Cambios">
                    <span id="advertencia" class="text-danger"></span>
                    <input type="reset" class="reset" value="Cancelar Cambios">  
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/javascripts/creatValidator.js"></script>
</body>
</html>