
    <%- include('../partials/head', {title: 'Carrito'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="">
        <div>
            <a href="/">Volver al inicio</a>
        </div>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <article></article>
                <h4><%= product.name %></h4>
                <% if (product.discount > 0) {%>                  
                    <p class="precio">
                        $<%= toThousand(product.price - (product.price * product.discount / 100)) %>
                    </p>
                    <p class="descuento">
                        <%= product.discount %>%
                    </p>
                <%}else{ %> 
                    <p class="precio">
                        $<%= toThousand(product.price) %>
                    </p>
                <% } %> 
                <span>Stock: <%= product.stock %></span>
                <select name="" id="">
                    <option value="">Cantidad</option>
                </select>
            </article>
        </div>
        <div>
            <button>Concluir compra</button>
        </div>
    </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>