<%- include('../partials/head', {title: 'Editar'}) %> 
<body>
    <%- include('../partials/header') %>
    <main class="main__create">
        <div class="main__caja">
            <form action="/products/update/<%= product.id %>?_method=PUT " method="POST" class="main__caja__formulario">
                <div class="main__formulario__cajas">
                    <label for="name">Nombre del producto</label>
                    <input type="text" name="name" id="name" value="<%= product.name %>">
                </div>
                <div class="main__formulario__cajas">
                    <label for="descripcion">Descripción</label>
                    <input type="text" name="description" id="descripcion" maxlength="1000" value="<%= product.description %>">
                </div>
                <div class="main__formulario__cajasSelectoras">
                    <select name="category" id="category" aria-label="Default select example">
                    <% categories.forEach(categoria =>{ %> 
						<option value="<%= categoria.id %>" <%= locals.old && categoria.id === +old.categoryId ? 'selected' :null %> ><%= categoria.name %></option>
                    <% }) %> 
                    </select>
                </div>
                <div class="main__formulario__cajaPrecio">
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" id="stock" value="<%= product.stock %> "                                                                                                                                 ">
                </div>
                <div class="main__formulario__cajaPrecio">
                    <label for="price">$</label>
                    <input type="number" name="price" id="price" value="<%= product.price %>">
                </div>
                <div class="main__formulario__cajaDescuento">
                    <label for="discount">%</label>
                    <input type="number" name="discount" id="discount" value="<%= product.discount %>">
                </div>
                <div class="main__formulario__cajaImagen">
                    <label for="image">Selecciona imagen del producto</label>
                    <input type="file" name="images" id="images" value="<%= product.images %>">
                </div>
                <div class="main__formulario__botones">
                    <input type="submit" class="submit" value="Guardar Cambios">
                    <input type="reset" class="reset" value="Cancelar Cambios">  
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>