<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head",{ title : "Tu carrito" }) %>

  <body class="cart">
 <%- include('../partials/header') %>

    <main class="carrito__main">
      <section class="carrito__main--section">
        <article class="carrito__main--section-article">
          <img
            src="/images/productos/<%= products.image %>"
            alt=" botella "
          />

          <div class="carrito__producto--compra">
            <h3 class="title__beer--ipa"><%=productCart.name %></h3>
            <p><%=productCart.description %></p>
            <h4><%= productCart.price %></h4>
            <div class="cantidad--btn">
              <p>Cantidad:</p>
              <button class="btn--agregar">- 1 +</button>
            </div>
          </div>
        </article>
      </section>
      <hr class="" />
      <section class="cart__main--section">
        <div class="cart__main--section--btn">
          <button>Vaciar carrito</button>
          <button>Volver a la tienda</button>
        </div>
      </section>
      <div class="description">
        <h2 class="title__description">Titulo</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident
          aut harum modi consectetur obcaecati. Iusto, architecto accusantium
          cum quia expedita, non inventore fuga tenetur quaerat excepturi
          voluptas, laborum a ipsam.
        </p>
      </div>
      <%- include('../partials/footer') %>
      <div class="conteiner__pagar--btn">
        <button class="pagar-btn">
          <p>Pagar :</p>
          <small>Subtotal :</small>
        </button>
      </div>
    </main>
  </body>
</html>