<%- include('../partials/head', {title: 'Editar'}) %> 
<body>
    <%- include('../partials/header') %>
    <main class="main__create">
        <div class="main__caja">
            <form action="/products/edit/<%= productToEdit.id %>?_method=PUT " class="main__caja__formulario">
                <div class="main__formulario__cajas">
                    <label for="name">Nombre del producto</label>
                    <input type="text" name="name" id="name" value="<%= productToEdit.name %>">
                </div>
                <div class="main__formulario__cajas">
                    <label for="descripcion">Descripción</label>
                    <input type="text" name="description" id="descripcion" maxlength="1000" value="<%= productToEdit.descripcion %>">
                </div>
                <div class="main__formulario__cajasSelectoras">
                    <select name="category" id="category" value="<%= productToEdit.category %>">
                        <option value="categoria">--Selecciona una categoria--</option>
                        <option value="cama">Cama</option>
                        <option value="juguetes">Juguetes</option>
                        <option value="productos">Productos</option>
                        <option value="ropa">Ropa</option>
                    </select>
                </div>
                <div class="main__formulario__cajasSelectoras">
                    <select name="subCategory" id="subCategory" value="<%= productToEdit.subCategory %>">
                        <option value="categoria">--Selecciona una clase--</option>
                        <option value="ofertas">Oferta</option>
                        <option value="novedades">Novedades</option>
                        <option value="destacados">Destacados</option>
                    </select>
                </div>
                <div class="main__formulario__cajaImagen">
                    <label for="image">Selecciona imagen del producto</label>
                    <input type="file" name="image" id="image" value="<%= productToEdit.image %>">
                </div>
                <!-- <div class="main__formulario__cajasSelectoras">
                    <select name="colores" id="colores">
                        <option value="Colores" selected>--Selecciona un color--</option>
                        <option value="Color1">Rosa</option>
                        <option value="Color2">Amarrillo</option>
                        <option value="Color3">Verde</option>
                        <option value="Color4">Celeste</option>
                        <option value="Color5">Azul</option>
                        <option value="Color6">Celeste Claro</option>
                        <option value="Color7">Blanco</option>
                    </select>
                </div>
                <div class="main__formulario__cajasSelectoras">
                    <select name="talles" id="talles">
                        <option value="talle">--Selecciona un talle--</option>
                        <option value="Talle1">X</option>
                        <option value="Talle2">XX</option>
                        <option value="Talle3">XXL</option>
                    </select>
                </div> -->
                <div class="main__formulario__cajaPrecio">
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" id="stock"   min="0" max="9999999" value="<%= productToEdit.stock %>">
                </div>
                <div class="main__formulario__cajaPrecio">
                    <label for="price">$</label>
                    <input type="number" name="price" id="price"   min="0" max="9999999" value="<%= productToEdit.price %>">
                </div>
                <div class="main__formulario__cajaDescuento">
                    <label for="discount">%</label>
                    <input type="number" name="discount" id="discount" min="0" max="100" value="<%= productToEdit.discount %>">
                </div>
                
                <div class="main__formulario__botones">
                    <input type="submit" class="submit" value="Guardar Cambios">
                    <input type="reset" class="reset" value="Cancelar Cambios">  
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>