<%- include('../partials/head', {title: 'Editar'}) %> 
<body>
    <%- include('../partials/header') %>
    <main class="main__create">
        <div class="main__caja">
            <form action="/products/update/<%= product.id %>?_method=PUT " method="POST" class="main__caja__formulario">
                <div class="main__formulario__cajas">
                    <label for="name">Nombre del producto</label>
                    <input type="text" name="name" id="name" value="<%= product.name %>">
                </div>
                <div class="main__formulario__cajas">
                    <label for="descripcion">Descripción</label>
                    <input type="text" name="description" id="descripcion" maxlength="1000" value="<%= product.description %>">
                </div>
                <div class="main__formulario__cajasSelectoras">
                    <select name="category" id="category" aria-label="Default select example">
                        <% categorys.forEach(category => { %>
                            <option value="<%= category %>" <%= product.category === category && 'selected' %>><%= category %></option>
                        <% }) %> 
                    </select>
                </div>
                <div class="main__formulario__cajasSelectoras">
                        <select name="subCategory" id="subCategory" aria-label="Default select example">
                            <% subCategorys.forEach(subCategory => { %>
                                <option value="<%= subCategory %>" <%= product.subCategory === subCategory && 'selected' %>><%= subCategory %></option>
                            <% }) %> 
                    </select>
                </div>
                <!-- <div class="main__formulario__cajasSelectoras">
                    <select name="colores" id="colores">
                        <option value="Colores" selected>--Selecciona un color--</option>
                        <option value="Color1">Rosa</option>
                        <option value="Color2">Amarrillo</option>
                        <option value="Color3">Verde</option>
                        <option value="Color4">Celeste</option>
                        <option value="Color5">Azul</option>
                        <option value="Color6">Celeste Claro</option>
                        <option value="Color7">Blanco</option>
                    </select>
                </div>
                <div class="main__formulario__cajasSelectoras">
                    <select name="talles" id="talles">
                        <option value="talle">--Selecciona un talle--</option>
                        <option value="Talle1">X</option>
                        <option value="Talle2">XX</option>
                        <option value="Talle3">XXL</option>
                    </select>
                </div> -->
                <div class="main__formulario__cajaPrecio">
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" id="stock" value="                                                                                                                                 ">
                </div>
                <div class="main__formulario__cajaPrecio">
                    <label for="price">$</label>
                    <input type="number" name="price" id="price" value="<%= product.price %>">
                </div>
                <div class="main__formulario__cajaDescuento">
                    <label for="discount">%</label>
                    <input type="number" name="discount" id="discount" value="<%= product.discount %>">
                </div>
                <div class="main__formulario__cajaImagen">
                    <label for="image">Selecciona imagen del producto</label>
                    <input type="file" name="image" id="image" value="<%= product.image %>">
                </div>
                <div class="main__formulario__botones">
                    <input type="submit" class="submit" value="Guardar Cambios">
                    <input type="reset" class="reset" value="Cancelar Cambios">  
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>