<%- include('../partials/head', {title: 'Crear'}) %> 
<body>
    <%- include('../partials/header') %>
    <main class="main__create">
        <div class="main__caja">
            <form action="/products/add" method="POST" class="main__caja__formulario">
                <div class="main__formulario__cajas">
                    <label for="name">NOMBRE DEL PRODUCTO</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="main__formulario__cajas">
                    <label for="description">DESCRIPCION</label>
                    <input type="text" name="description" id="description" maxlength="1000">
                </div>
                <div class="main__formulario__cajasSelectoras">
                    <select name="category" id="category" aria-label="Default select example">
                        <option value="" selected hidden>--Seleccione una categoria--</option>
                        <% categories.forEach(categoria => { %>
                            <option value="<%= categoria.id %>" <%= locals.old && categoria.id === +old.categoryId ? 'selected' :null %> ><%= categoria.name %></option>
                        <% }) %> 
                    </select>
                </div>
                <div class="main__formulario__cajaImagen">
                    <label for="images">IMAGEN DEL PRODUCTO</label>
                    <input type="file" name="images" id="images">
                </div>
                <div class="main__formulario__cajaPrecio">
                    <label for="price">$</label>
                    <input type="number" name="price" id="price" value="">
                </div>
                <div class="main__formulario__cajaDescuento">
                    <input type="number" name="discount" id="discount" value="">
                    <label for="discount">%</label>
                </div>
                <div class="main__formulario__cajaPrecio">
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" id="stock" value="">
                </div>
                
                <div class="main__formulario__botones">
                    <input type="submit" class="submit" value="Guardar Cambios">
                    <input type="reset" class="reset" value="Cancelar Cambios">  
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
