<%- include('../partials/head', {title:'Resultados de la búsqueda'}) %>
<body class="general_body">
    <%- include('../partials/header') %>
    <main>
        <div>
            <div>
                <h2 class="products-title">Resultados de la búsqueda: <strong><%= keywords %></strong></h2>
            </div>
            <% if (result.length > 0) { %>
				<% result.forEach(({id,name,price,images,discount}) => { %>
					<div class="result-div">
                        <a href="/products/detail/<%= id %> "><img src="/images/productos/<%= images[0] ? images[0].file : 'Anuncio.png' %>" ></a>
                        <div class="result-div2">
                            <h4><%= name %> </h4>
                            <p> $<%= price %> </p>
                            <p><%= discount %>%</p>
                            <a href="/products/cart" class="result-div2-a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                        </div>
                    </div> 
				<% }) %>
				<% }else{ %>
					<div>
						<h2>No hay productos que coincidan con esa búsqueda</h2>
		    		</div>		
			<% } %>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>