<%- include('./partials/head', {title: 'Home'}) %> 
<body>
    <%- include('./partials/header') %> 
    <main class="home__main">
        <div class="home__main--banner">
            <img src="/images/purina.jpg">
        </div>
        <section class="home__main__section--novedades">
            <h2>NOVEDADES</h2>
            <section class="home__main__articulos">
                <% productNovedades.forEach(({id, name, price, image, discount}) => { %>
                    <%- include('./partials/product',{
                        id,
                        name,
                        price,
                        image,
                        discount,
                        toThousand
                    }) %> 
                <% }) %>
            </section>
        </section>
        <section class="home__main__section--destacados">
            <h2>DESTACADOS</h2>
            <section class="home__main__articulos">
                <% productDestacados.forEach(({id, name, price, image, discount}) => { %>
                    <%- include('./partials/product',{
                        id,
                        name,
                        price,
                        image,
                        discount,
                        toThousand
                    }) %> 
                <% }) %>
            </section>
        </section>
        <section class="home__main__section--ofertas">
            <h2>OFERTAS</h2>
            <section class="home__main__articulos">
                <% productOfertas.forEach(({id, name, price, image, discount}) => { %>
                    <%- include('./partials/product',{
                        id,
                        name,
                        price,
                        image,
                        discount,
                        toThousand
                    }) %> 
                <% }) %>
            </section>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>