<%- include('./partials/head', {title: 'Home' }) %>

    <body>
        <%- include('./partials/header') %>
            <main class="home__main">
                <div class="home__main--banner">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/descarga.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/images/shop.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Second slide label</h5>
                                    <p>Some representative placeholder content for the second slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/images/carrusel3.jfif" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                    <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- <div class="home__main--banner">
            <img src="/images/descarga.png">
        </div> -->
                    <section class="home__main__section--novedades">
                        <h2>NOVEDADES</h2>
                        <section class="home__main__articulos">
                            <% productNovedades.forEach(({id, name, price, images, discount})=> { %>
                                <%- include('./partials/product',{ id, name, price, images, discount, toThousand }) %>
                                    <% }) %>
                        </section>
                    </section>
                    <section class="home__main__section--destacados">
                        <h2>DESTACADOS</h2>
                        <section class="home__main__articulos">
                            <% productDestacados.forEach(({id, name, price, images, discount})=> { %>
                                <%- include('./partials/product',{ id, name, price, images, discount, toThousand }) %>
                                    <% }) %>
                        </section>
                    </section>
                    <section class="home__main__section--ofertas">
                        <h2>OFERTAS</h2>
                        <section class="home__main__articulos">
                            <% productOfertas.forEach(({id, name, price, images, discount})=> { %>
                                <%- include('./partials/product',{ id, name, price, images, discount, toThousand }) %>
                                    <% }) %>
                        </section>
                    </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>