<!-- head -->
<%- include('../partials/head', {title: 'Editar perfil' }) %>

    <body>
        <!-- inicio header -->
        <%- include('../partials/header') %>
            <!-- fin header -->
            <!-- inicio main -->
            <main class="main--profile">
                <section>
                    <form id="form-register" action="/users/update/<%= users.id %>?_method=PUT" method="POST">
                        <div class="container py-5">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card mb-4 profile-user-header">
                                        <div class="card-body text-center profile-user-avatar">
                                            <img src="/images/users/<%=users.avatar%>" id="avatar" 
                                            class="img-fluid py-3"/>
                                            <input  type="file" name="avatar" id="avatar"
                                            onchange="preview(event)" />
                                        </div>
                                    </div>
                                </div>
                                <!-- <div >
                                    <img src="/images/users/<%=users.avatar%>" id="avatar" alt="avatar" id="avatar"/>
                                    
                                     <input type="file" name="avatar" id="avatar" onchange="preview(event)" />
                                </div> -->










                                <div class="col-lg-8">
                                    <div class="card mb-4">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Nombre</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input class="form-control" aria-label="Sizing example input"
                                                        aria-describedby="inputGroup-sizing-default" type="text"
                                                        id="name" name="name" value="<%= users.name %>">
                                                        <small class="msg_error"><%= locals.errors && errors.name ? errors.name.msg : null %></small>
                                                        <small id="errorNombre" class="msg_error"></small>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Apellido</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input class="form-control" aria-label="Sizing example input"
                                                        aria-describedby="inputGroup-sizing-default" type="text"
                                                        id="surname" name="surname" value="<%= users.surname %>">
                                                        <small class="msg_error"><%= locals.errors && errors.surname? errors.surname.msg : null %></small>
                                                        <small id="errorSurname" class="msg_error"></small>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Teléfono</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input class="form-control" aria-label="Sizing example input"
                                                        aria-describedby="inputGroup-sizing-default" type="number"
                                                        id="phone" name="phone" value="<%= users.phone %>">
                                                        <small class="msg_error"><%= locals.errors && errors.phone ? errors.phone.msg : null %></small>
                                                        <small id="errorPhone" class="msg_error"></small>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Dirección</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input class="form-control" aria-label="Sizing example input"
                                                        aria-describedby="inputGroup-sizing-default" type="text"
                                                        id="street" name="street" value="<%= users.street %>">
                                                        <small class="msg_error"><%= locals.errors && errors.street ? errors.street.msg : null %></small>
                                                        <small id="errorStreet" class="msg_error"></small>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center mb-2 py-3">
                                                <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                                            </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </main>
            <!-- fin del main -->
            <!-- inicio de footer -->
            <%- include('../partials/footer') %>
            <!-- fin del footer -->
            <!-- inicio de editar foto de avatar -->
            <script>
                let preview = (event) => {
                    let new_img = new FileReader();
                    let id_img = document.getElementById("avatar");
                    new_img.onload = () => {
                        if (new_img.readyState == 2) {
                            id_img.src = new_img.result;
                        }
                    };
                    new_img.readAsDataURL(event.target.files[0]);
                };
            </script>
            <!-- fin de editar foto de avatar -->
    </body>

    </html>