<!-- head -->
<%- include('../partials/head', {title: 'Editar perfil' }) %>

    <body>
        <!-- inicio header -->
        <%- include('../partials/header') %>
            <!-- fin header -->
            <!-- inicio main -->
            <main class="main--reg">
                <div class="container">
                    <div class="row  pt-5 pb-5 ">
                        <div class="col-10 p-5 border-2 bg-white tagger2">
                            <!-- inicio del formulario -->
                            <form id="form-register" action="/users/update/<%= users.id %>?_method=PUT" method="POST"
                                enctype="multipart/form-data">
                                <div class="row-8 profile-user-header">
                                    <div class="profile-user-avatar">
                                        <img src="/images/users/<%=users.avatar%>" id="avatar" />
                                        <input type="file" name="avatar" id="avatar" onchange="preview(event)" 
                                        accept=".jpg, .png, .gif, .jpeg"/>
                                        <label class="label_photo-edit" for="avatar">
                                        <i class="fa-solid fa-camera"></i></label>
                                    </div>
                                </div>
                                <!-- <div class="row"> -->
                                     <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                                        <input class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" type="text" id="name" name="name"
                                            value="<%= users.name %>">
                                    </div>
                                     <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
                                        <input class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" type="text" id="surname" name="surname"
                                            value="<%= users.surname %>">
                                    </div>
                                     <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                                        <input class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" type="email" id="email" name="email"
                                            value="<%= users.email %>">
                                    </div>
                                     <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Teléfono</span>
                                        <input class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" type="number" id="phone" name="phone"
                                            value="<%= users.phone %>">
                                    </div>
                                     <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Dirección</span>
                                        <input class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" type="text" id="street" name="street"
                                            value="<%= users.street %>">
                                    </div>
                                     <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Altura</span>
                                        <input class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" type="number" id="height" name="height"
                                            value="<%= users.height %>">
                                    </div>
                                     <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Localidad</span>
                                        <input class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" type="text" id="city" name="city"
                                            value="<%= users.city %>">
                                    </div>
                                     <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Provincia</span>
                                        <input class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" type="text" id="province" name="province"
                                            value="<%= users.province %>">
                                    </div>
                                    <div class="d-grid gap-2 col-6 mx-auto mt-4">
                                        <button class="btn btn-outline-secondary" type="submit">Guardar
                                            Cambios</button>
                                    </div>
                                </div>
                            </form>
                            <!-- fin del formulario -->
                        </div>
                    </div>
                </div>
            </main>
            <!-- fin del main -->
            <!-- inicio de editar foto de avatar -->
            <script>
                let preview = (event) => {
                    let new_img = new FileReader();
                    let id_img = document.getElementById("avatar");
                    new_img.onload = () => {
                        if (new_img.readyState == 2) {
                            id_img.src = new_img.result;
                        }
                    };
                    new_img.readAsDataURL(event.target.files[0]);
                };
            </script>
            <!-- fin de editar foto de avatar -->
        </body>

    </html>