<%- include('../partials/head', {title: 'Login'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="main__login">
        <section class="main__login__container">
            <h1>Ingresa</h1>
            <div class="main__login__iniciar">
                <p>¿Aún no tenes una cuenta?</p><a href="/users/register">Registrate </a>
            </div>
            <form action="/users/login" class="main__login__form" method="POST">
                <input type="email" placeholder="  EMAIL" name="email"  value="<%= locals.old && old.email ? old.email: null %>"/>
                <small><%= locals.errors && errors.email ? errors.email.msg :null  %></small>
                <input type="password" placeholder="  CONTRASEÑA" name="password" />
                <small><%= locals.errors && errors.password ? errors.password.msg :null  %></small>
                <label for="">Recordarme</label>
                <input type="checkbox" name="remember" id="recordame" />
                <a href="#" class="main__perfil__contraseña" >¿Olvidaste tu contraseña?</a>
                <div class="main__login__botones__send">
                    <button type="submit">INGRESA!</button>
                </div>
            </form>
            <div class="main__login__botones__redes">
                <h5>O INGRESA CON</h5>
                <div>
                    <a href=""><i class="fa-brands fa-facebook"></i> </a>
                </div>
                <div>
                    <a href=""><i class="fa-brands fa-instagram"></i> </a>
                </div>
                <div>
                    <a href=""><i class="fa-brands fa-google-plus"></i> </a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
   

   


