<%- include('../partials/head', {title: 'Mi perfil'}) %> 
<body>
    <%- include('../partials/header') %>
    <main class="main--profile">
        <div class="profile--container">
            <div class="profile-info-container">
                <!-- foto y fondo -->
                <div class="profile-user-header">
                    <div class="profile-user-avatar">
                        <img src="/images/users/<%=users.avatar%>"/>
                    </div>
                </div>
                <div  class="imputs-container-profile">
                    <div class="from-all-profile"> 
                        <p class="label-all">NOMBRE:</p>
                        <input class="input-all-profile" value="<%= users.name %>" >
                    </div> 
                    <div class="from-all-profile"> 
                        <p class="label-all">APELLIDO:</p>
                        <input class="input-all-profile" value="<%= users.surname %>" >
                    </div> 
                    <div class="from-all-profile"> 
                        <p class="label-all">EMAIL:</p>
                        <input class="input-all-profile" value="<%= users.email %>" >
                    </div> 
                    <div class="from-all-profile"> 
                        <p class="label-all" >DIRECCIÓN:</p>
                        <input class="input-all-profile" value="<%= users.street %>" >
                    </div> 
                    <div class="from-all-profile"> 
                        <p class="label-all">ALTURA:</p>
                        <input class="input-all-profile" value="<%= users.height %>" >
                    </div> 
                    <div class="from-all-profile"> 
                        <p class="label-all" >PROVINCIA</p>
                        <input class="input-all-profile" value="<%= users.province %>" >
                    </div> 
                    <div class="from-all-profile"> 
                        <p class="label-all">LOCALIDAD:</p>
                        <input class="input-all-profile" value="<%= users.phone %>" >
                    </div>
                    <div class="from-all-profile"> 
                        <p class="label-all">TELEFONO:</p>
                        <input class="input-all-profile" value="<%= users.phone %>" >
                    </div> 
                     

                    
                    <a class="all-btn-profile" href="/users/editProfile/<%= users.id %>">Editar Perfil</a>
                    <a class="all-btn-profile" href="/users/logout" >Salir</a>

                </div>
                
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>