<%- include('../partials/head', {title: 'Mi perfil' }) %>

  <body>
    <%- include('../partials/header') %>
      <main class="main--profile">
        <div class="container py-4">
          <div class="card tagger2 card-profile" style="max-width: 540px;">
            <div class="col m-4 pt-5 pb-5 border-2 bg-white col-profile">
              <div class="row-8 profile-user-header">
                <div class="profile-user-avatar">
                  <img class="img-fluid" src="/images/users/<%=users.avatar%>" />
                </div>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" value=" <%= users.name %>">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" value=" <%= users.surname %>">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                <input type="email" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" value=" <%= users.email %>">
              </div>
               <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Teléfono</span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" value="<%= users.phone %>">
              </div>
              <--<div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Direccón</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" value=" <%= users.street %>">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Altura</span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" value="<%= users.height %>">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Localidad</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" value=" <%= users.city %>">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Provincia</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" value=" <%= users.province %>">
              </div> -->
              <div class="col-8">
                <a href="/users/editProfile/<%= users.id %>">
                  <button type="submit" class="mt-4 btn-profile btn btn-outline-secondary">Editar Perfil</button>
                </a>
                <a href="/users/logout">
                  <button type="submit" class="mt-4 btn-profile btn btn-outline-secondary">Cerrar sesion</button>
                </a>
              </div>
            </div>
          </div>
      </main>
    <%- include('../partials/footer') %>
  </body>

  </html>