<%- include('../partials/head', {title: 'Mi perfil'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="seccion-profile-user">
        <div class="profile-user-header">
            <div class="profile-user-portada" >
            </div>
            <div class="profile-user-avatar">
                <img src="/images/users/<%=users.image%>"/>
            </div>
        </div>
        <div class="profile-user-body">
            <div class="profile-user-bio">
                <h3 class="profile-name">
                <div>
                    <p><%= users.name %>  <%= users.surname %></p> 
                </div>
                </h3>
            </div>
        
            <div class="lista-datos">
                <div class="datos-user">
                    <p>Número de teléfono:</p> 
                    <h4><%= users.phone %></h4>
                </div> 
                <div class="datos-user"> 
                    <p> Email:</p>
                    <h4><%= users.email %></h4>
                </div> 
                <div class="datos-user">
                    <p>Dirección:</p>
                    <h4><%= users.direction %></h4>
                </div>
                <div class="datos-user"> 
                    <p>Altura:</p>
                    <h4><%= users.heigth %></h4>
                </div>
                <div class="datos-user"> 
                    <p>Localidad:</p>
                    <h4><%= users.location %></h4>
                </div>
                <div class="datos-user"> 
                    <p>Provincia:</p>
                    <h4><%= users.province %></h4>
                </div>
            
                <a class="btn-profile" href="/users/editProfile/<%= users.id %>"><button>Editar Perfil</button></a>
                <a class="btn-profile" href="/users/logout"> <button >Salir</button></a>
            </div>
        </div>

    </main>

    <%- include('../partials/footer') %> 
</body>
</html>