<%- include('../partials/head', {title: 'Mi perfil'}) %> 
<body>
    <%- include('../partials/header') %>
    <main class="main--profile">
        <div class="profile--container">
            <div class="profile-info-container">
                <!-- foto y fondo -->
                <div class="profile-user-header">
                    <div class="profile-user-avatar">
                        <img src="/images/users/<%=users.avatar%>"/>
                    </div>
                </div>
                <from class="imputs-container-profile">
                    <div class="from-all-profile"> 
                        <label class="label-all" for="name">Nombre:</label>
                        <input class="input-all-profile" value="<%= users.name %>" >
                    </div> 
                    <div class="from-all-profile"> 
                        <label class="label-all" for="surname">Apellido:</label>
                        <input class="input-all-profile" value="<%= users.surname %>" >
                    </div> 
                    <div class="from-all-profile"> 
                        <label class="label-all" for="email">Email:</label>
                        <input class="input-all-profile" value="<%= users.email %>" >
                    </div> 
                    <div class="from-all-profile">
                        <label class="label-all" for="phone">Número de teléfono:</label>
                        <input class="input-all-profile" type="text" id="pone" atocomplete="off" name="phone" value="<%= locals.old && old.phone ? old.phone : null %>">
                        <small class="small-all"><%= locals.errors && errors.phone ? errors.phone.msg :null  %> </small>
                    </div>
                    <div class="from-all-profile">
                        <label class="label-all" for="direction">Direccion:</label>
                        <input class="input-all-profile" type="text" id="direction" atocomplete="off" name="direction" value="<%= locals.old && old.direction ? old.direction : null %>">
                        <small class="small-all"><%= locals.errors && errors.direction ? errors.direction.msg :null  %> </small>
                    </div>
                    <div class="from-all-profile">
                        <label class="label-all" for="heigth">Altura:</label>
                        <input class="input-all-profile" type="number" id="heigth" atocomplete="off" name="heigth" value="<%= locals.old && old.heigth ? old.heigth : null %>">
                        <small class="small-all"><%= locals.errors && errors.heigth ? errors.heigth.msg :null  %> </small>
                    </div>
                    <div class="from-all-profile">
                        <label class="label-all" for="location">Localidad:</label>
                        <input class="input-all-profile" type="text" id="location" atocomplete="off" name="location" value="<%= locals.old && old.location ? old.location : null %>">
                        <small class="small-all"><%= locals.errors && errors.location ? errors.location.msg :null  %> </small>
                    </div>
                    <div class="from-all-profile">
                        <label class="label-all" for="province">Provincia:</label>
                        <input class="input-all-profile" type="text" id="province" atocomplete="off" name="province" value="<%= locals.old && old.province ? old.province : null %>">
                        <small class="small-all"><%= locals.errors && errors.province ? errors.province.msg :null  %> </small>
                    </div>
                    <a class="all-btn-profile" href="/users/editProfile/<%= users.id %>">Editar Perfil</a>
                    <a class="all-btn-profile" href="/users/logout" >Salir</a>
                </from>
                
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>