<%- include('../partials/head', {title: 'Register'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="main--reg">
        <div class="reg--container">
            <div class="reg-info-container">
            <h1>Registrate con</h1>
            <div class="social-login">
                <div class="social-login-element">
                    <a href="#" class="btn-redes"><i class="fa-brands fa-facebook-f"></i> </a>
                    <a href="#" class="btn-redes"><i class="fa-brands fa-instagram"></i> </a>
                    <a href="#" class="btn-redes"><i class="fa-brands fa-google"></i> </a>
                </div>
            </div>
            <p>o ingresa tus datos</p>
            <form  action=""  method="POST" enctype="multipart/form-data" class="imputs-container-reg">
                <div>
                    <input class="input-reg" placeholder="NOMBRE" type="text" id="name" atocomplete="off" name="name" value="<%= locals.old && old.name ? old.name : null %>">
                    <small class="small-reg"><%= locals.errors && errors.name ? errors.name.msg :null  %> </small>
                </div>
                <div>
                    <input class="input-reg" placeholder="APELLIDO" type="text" id="surname" autocomplete="off" name="surname" value="<%= locals.old && old.surname ? old.surname : null %>">
                    <small class="small-reg"><%= locals.errors && errors.surname ? errors.surname.msg :null  %></small>
                </div>
                <div>
                    <input class="input-reg" placeholder="EMAIL" type="email" id="email" name="email" value="<%= locals.old && old.email ? old.email: null %>">
                    <small class="small-reg"><%= locals.errors && errors.email ? errors.email.msg :null  %></small>
                </div>
                <div>
                    <input class="input-reg" placeholder="CONTRASEÑA" type="password" id="password" name="password">
                    <small class="small-reg"><%= locals.errors && errors.password ? errors.password.msg :null  %></small>
                </div>
                <div>
                    <input class="input-reg" placeholder="REPETIR CONTRASEÑA" type="password" id="password2" autocomplete="off" name="password2">
                    <small class="small-reg"><%= locals.errors && errors.password2 ? errors.password2.msg :null  %></small>
                </div>
                <div >
                    <label class="label-reg" for="avatar">AGREGA TU FOTO DE PERFIL</label>
                    <input class="input-reg-file" id="avatar" type="file" name="avatar" autocomplete="off">
                </div>
                    <button  class="login-btn" type="submit">ENVIAR!</button>
               
            </form>
           
        </section>
    </main>
    
</body>
</html>