<%- include('../partials/head', {title: 'Register'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="main--reg">
        <div class="reg--container">
            <div class="reg-info-container">
            <h1>Registrate con</h1>
            <div class="social-login">
                <div class="social-login-element">
                    <a href="#" class="btn-redes"><i class="fa-brands fa-facebook-f"></i> </a>
                    <a href="#" class="btn-redes"><i class="fa-brands fa-instagram"></i> </a>
                    <a href="#" class="btn-redes"><i class="fa-brands fa-google"></i> </a>
                </div>
            </div>
            <p>o ingresa tus datos</p>
            <form  action=""  method="POST" enctype="multipart/form-data" class="imputs-container-reg">
                <div>
                    <input class="input-reg" placeholder="  NOMBRE" type="text" id="firstName" atocomplete="off" name="firstName" value="<%= locals.old && old.name ? old.name : null %>">
                    <small class="small-reg"><%= locals.errors && errors.firstName ? errors.firstName.msg :null  %> </small>
                </div>
                <div>
                    <input class="input-reg" placeholder="  APELLIDO" type="text" id="lastName" autocomplete="off" name="lastName" value="<%= locals.old && old.surname ? old.surname : null %>">
                    <small class="small-reg"><%= locals.errors && errors.lastName ? errors.lastName.msg :null  %></small>
                </div>
                <div>
                    <input class="input-reg" placeholder="  TELÉFONO" type="number" id="phone" autocomplete="off" name="phone" value="<%= locals.old && old.phone ? old.phone : null %>">
                    <small class="small-reg"><%= locals.errors && errors.phone ? errors.phone.msg :null  %></small>

                </div>
                <div>
                    <input class="input-reg" placeholder="  EMAIL" type="email" id="email" name="email" value="<%= locals.old && old.email ? old.email: null %>">
                    <small class="small-reg"><%= locals.errors && errors.email ? errors.email.msg :null  %></small>
                </div>
                <div>
                    <input class="input-reg" placeholder="  CONTRASEÑA" type="password" id="password" name="password">
                    <small class="small-reg"><%= locals.errors && errors.password ? errors.password.msg :null  %></small>
                </div>
                <div>
                    <input class="input-reg" placeholder="  REPETIR CONTRASEÑA" type="password" id="password2" autocomplete="off" name="password2">
                    <small class="small-reg"><%= locals.errors && errors.password2 ? errors.password2.msg :null  %></small>
                </div>
                <!-- <div>
                    <input class="input-reg" placeholder="  DIRECCIÓN" type="text" id="direction" autocomplete="off" name="direction"  value="<%= locals.old && old.direction ? old.direction : null %>">
                    <small class="small-reg"><%= locals.errors && errors.direction ? errors.direction.msg :null  %></small>
                </div>
                <div>
                    <input class="input-reg" placeholder="  ALTURA" type="number" id="heigth" autocomplete="off" name="heigth" value="<%= locals.old && old.heigth ? old.heigth : null %>">
                    <small class="small-reg"><%= locals.errors && errors.heigth ? errors.heigth.msg :null  %></small>
                </div>
                <div>
                    <input class="input-reg" placeholder="  LOCALIDAD" type="text" id="location" autocomplete="off" name="location" value="<%= locals.old && old.location ? old.location : null %>">
                    <small class="small-reg"><%= locals.errors && errors.location ? errors.location.msg :null  %></small>                  
                </div>
                <div>
                    <input class="input-reg" placeholder="  PROVINCIA" type="text" id="province" autocomplete="off" name="province" value="<%= locals.old && old.province ? old.province : null %>">
                    <small class="small-reg"><%= locals.errors && errors.province ? errors.province.msg :null  %></small>
                </div> -->
                <div >
                    <label class="label-reg" for="imgUsers">AGREGA TU FOTO DE PERFIL</label>
                    <input class="input-reg-file" id="imgUsers" type="file" name="imgUsers" autocomplete="off">
                </div>
               
                    <button  class="login-btn" type="submit">ENVIAR!</button>
               
            </form>
           
        </section>
    </main>
    
</body>
</html>