<html lang="es">
<%- include('../partials/head', {title: 'Register' }) %>

  <body>
    <!-- ----------Inicio de header----------- -->
    <%- include('../partials/header') %>
    <!-- ----------Fin de header----------- -->

    <!-- ----------Inicio de main----------- -->
    
      <main class="main--reg">
        <div class="container">
          <div class="row  pt-5 pb-5 ">
            <div class="col-12 p-5 border-2 bg-white tagger2">
            <h1 class="text-center title-reg">Registrate con</h1>
            <div class="social-all text-center">
              <div class="social-all-element text-center">
                <a href="#" class="btn-redes"><i class="fa-brands fa-facebook-f"></i> </a>
                <a href="#" class="btn-redes"><i class="fa-brands fa-instagram"></i> </a>
                <a href="#" class="btn-redes"><i class="fa-brands fa-google"></i> </a>
              </div>
            </div>
            <h5 class="text-center title-reg">o ingresa tus datos</h5>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <form id="form-register" action="" method="POST" enctype="multipart/form-data">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <label class="form-label"></label>
                        <input type="text" placeholder="NOMBRE"
                          class=" form-control py-3 <%= locals.errors && errors.name ? 'is-invalid' : null %> "
                          value="<%= locals.old && old.name ? old.name : null %>" id="name" name="name"
                          title="El nombre debe tener más de dos caracteres" />
                        <small class="text-danger">
                          <%= locals.errors && errors.name ? errors.name.msg : null %>
                        </small>
                        <small id="errorName" class="text-danger"></small>
                      </div>
                      <div class="col-12 col-md-6">
                        <label class="form-label"></label>
                        <input type="text" placeholder="APELLIDO"
                          value="<%= locals.old && old.surname ? old.surname : null %>"
                          class=" form-control py-3 <%= locals.errors && errors.surname ? 'is-invalid' : null %>"
                          id="surname" name="surname" title="El apellido debe tener más de dos caracteres" />
                        <small class="text-danger">
                          <%= locals.errors && errors.surname ? errors.surname.msg : null %>
                        </small>
                        <small id="errorSurname" class="text-danger"></small>
                      </div>
                      <div class="col-12 col-md-6">
                        <label class="form-label"></label>
                        <input type="email" placeholder="EMAIL"
                        value="<%= locals.old && old.email ? old.email : null %>"
                          class=" form-control py-3 <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                          id="email" name="email" />
                        <small class="text-danger">
                          <%= locals.errors && errors.email ? errors.email.msg : null %>
                        </small>
                        <small id="errorEmail" class="text-danger"></small>
                      </div>
                      <div class="col-12 col-md-6">
                        <label class="form-label"></label>
                        <div class="d-flex  mb-3">
                          <input type="password" placeholder="CONTRASEÑA"
                            class=" py-3 form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                            name="password" id="password" />
                          <span class="input-group-text" style="cursor: pointer;" id="btn-show-pass"><i
                              class="fa-solid fa-eye-slash"></i></span>
                        </div>
                        <small class="text-danger">
                          <%= locals.errors && errors.password ? errors.password.msg : null %>
                        </small>
                        <small id="errorPassword" class="text-danger"></small>
                        <ul id="msgPass" hidden>
                          <li id="mayu">Una mayúscula</li>
                          <li id="minu">Un minúscula</li>
                          <li id="num">Un número</li>
                          <li id="esp">Un caracter especial ($@$!%*?&)</li>
                          <li id="min">Mínimo 6 caracteres</li>
                          <li id="max">Máximo 8 caracteres</li>
                        </ul>
                      </div>
                      <div class="col-12 col-md-6">
                        <label class="form-label"></label>
                        <div class="d-flex  mb-3">
                          <input type="password" placeholder="REPETIR CONTRASEÑA"
                            class=" py-3 form-control <%= locals.errors && errors.password2 ? 'is-invalid' : null %>"
                            name="password2" id="password2" />
                          <span class="input-group-text" style="cursor: pointer;" id="btn-show-pass2"><i
                              class="fa-solid fa-eye-slash"></i></span>
                        </div>
                        <small class="text-danger">
                          <%= locals.errors && errors.password2 ? errors.password2.msg : null %>
                        </small>
                        <small id="errorPassword2" class="text-danger"></small>
                      </div>
                      <div class="col-12 col-md-6">
                        <label class="form-label"></label>
                        <input type="number" placeholder="TELÉFONO"
                          class=" form-control py-3 <%= locals.errors && errors.phone ? 'is-invalid' : null %> "
                          value="<%= locals.old && old.phone ? old.phone : null %>" id="phone" name="phone"
                          title="El numero teléfonico debe tener más de seis caracteres" />
                        <small class="text-danger">
                          <%= locals.errors && errors.phone ? errors.phone.msg :null %>
                        </small>
                        <small id="errorPhone" class="text-danger"></small>
                      </div>
                      <div class="col-12 col-md-6">
                        <label class="form-label"></label>
                        <input type="text" placeholder="DIRECCIÓN"
                          value="<%= locals.old && old.street ? old.street : null %>"
                          class=" form-control py-3 <%= locals.errors && errors.street ? 'is-invalid' : null %>"
                          id="street" name="street" title="La dirección debe tener más de dos caracteres" />
                        <small class="text-danger">
                          <%= locals.errors && errors.street ? errors.street.msg : null %>
                        </small>
                        <small id="errorStreet" class="text-danger"></small>
                      </div>
                      <!-- <div class="col-12 col-md-6">
                        <label class="form-label"></label>
                        <input type="number" placeholder="ALTURA"
                          class=" form-control py-3 <%= locals.errors && errors.height ? 'is-invalid' : null %> "
                          value="<%= locals.old && old.height ? old.height : null %>" id="height" name="height"
                          title="La altura debe tener más de dos caracteres" />
                        <small class="text-danger">
                          <%= locals.errors && errors.height ? errors.height :null %>
                        </small>
                        <small id="errorHeight" class="text-danger"></small>
                      </div>
                      <div class="col-12 col-md-6">
                        <label class="form-label"></label>
                        <input type="text" placeholder="LOCALIDAD"
                          value="<%= locals.old && old.city? old.city : null %>"
                          class=" form-control py-3 <%= locals.errors && errors.city ? 'is-invalid' : null %>"
                          id="city" name="city" title="La localidad debe tener más de dos caracteres" />
                        <small class="text-danger">
                          <%= locals.errors && errors.city ? errors.city.msg : null %>
                        </small>
                        <small id="errorCity" class="text-danger"></small>
                      </div>
                      <div class="col-12 col-md-6">
                        <label class="form-label"></label>
                        <input type="text" placeholder="PROVINCIA"
                          value="<%= locals.old && old.province ? old.province : null %>"
                          class=" form-control py-3 <%= locals.errors && errors.province ? 'is-invalid' : null %>"
                          id="province" name="province" title="La provincia debe tener más de dos caracteres" />
                        <small class="text-danger">
                          <%= locals.errors && errors.province ? errors.province.msg : null %>
                        </small>
                        <small id="errorProvince" class="text-danger"></small>
                      </div> -->
                      <div class="col-12 col-md-6 mt-4">
                        <label for="avatar" class="form-label">FOTO DE PERFIL</label>
                        <input class="form-control" type="file" id="avatar" 
                          value="<%= locals.old && old.avatar ? old.avatar : null %>"
                          class=" form-control py-3 <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
                          id="avatar" name="avatar" title="La provincia debe tener más de dos caracteres" 
                          accept=".jpg, .png, .gif, .jpeg"/>
                        <small class="text-danger">
                          <%= locals.errors && errors.avatar ? errors.avatar.msg : null %>
                        </small>
                        <small id="errorAvatar" class="text-danger"></small>
                      </div>
                      <div class="d-grid gap-2 col-6 mx-auto mt-4">
                        <button  class="btn btn-outline-secondary" type="submit">REGISTRATE</button>
                        <small id="errorSubmit" class="text-danger"></small>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</main>
 <!-- ----------Fin de header----------- -->
  <!-- ----------Inicio de footer----------- -->
    <%- include('../partials/footer') %>
  <!-- ----------Fin de footer----------- -->
<script src="/javascripts/userValidationFront.js"></script>
</body>
</html>